@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.w-\[calc\(100\%\-220px\)\] {
  width: calc(100% - 220px);
}

iframe {
  border: 0 solid transparent !important;
}

.markdown-article {
  max-width: 1024px;
  line-height: 1.8rem;
  margin: 0 20px;
  & h1 {
    font-weight: bold;
    font-size: 1.875rem;
    line-height: 2.75rem;
    margin-bottom: 1rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -0.25rem;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #9ca3af;
    }
  }
  & h2 {
    font-weight: bold;
    font-size: 1.375rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -0.25rem;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #9ca3af;
    }
  }
  & h3 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  & p {
    margin-bottom: 1rem;
  }
  & pre {
    background-color: #9ca3af;
    color: black;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.25rem 1rem;
    overflow-x: auto;
  }
  & code {
    &:not(.language-bash) {
      background-color: #9ca3af;
      color: black;
      border-radius: 1rem;
      padding: 0.2rem 0.6rem;
    }
  }
  & a {
    color: #3b82f6;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  & ul {
    list-style-type: square;
    margin-bottom: 1rem;
    & li {
      margin-left: 2.5rem;
    }
  }
}

/* Custom styling for Sisense filter components (fml) */

label.csdk-text-text-content {
  min-width: 42px;
  color: black;
}

div.css-xhbwdz .csdk-flex.csdk-flex-row {
  flex-direction: column;
}

div#simple-popover,
div.base-Popper-root.css-16vc3cg-MuiPopper-root {
  z-index: 2005;
}

div.css-xhbwdz > div:first-child {
  min-width: 216px;
}

div.css-xhbwdz footer {
  display: none;
}
