@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.w-\[calc\(100\%\-220px\)\] {
  width: calc(100% - 220px);
}

iframe {
  border: 0 solid transparent !important;
}

/* Custom styling for Sisense filter components (fml) */

label.csdk-text-text-content {
  min-width: 42px;
  color: black;
}

div.css-xhbwdz .csdk-flex.csdk-flex-row {
  flex-direction: column;
}

div#simple-popover,
div.base-Popper-root.css-16vc3cg-MuiPopper-root {
  z-index: 2005;
}

div.css-xhbwdz > div:first-child {
  min-width: 216px;
}

div.css-xhbwdz main button.csdk-border-0 {
  background-color: #f9ab53 !important;
}

div.css-xhbwdz footer {
  display: none;
}

div.csdk-bg-background-priority {
  background-color: white !important;
}
